[tool.poetry]
name = "entity-linking-serve"
version = "0.1.0"
description = "Entity linking serve"
authors = ["Rene Jean Corneille <rene-jean.corneille@onclusive.com>"]
packages = [{include = "src"}]

[tool.poetry.dependencies]
python = "3.8.16"
core = {path = "../../../libs/core"}
nlp = {path = "../../../libs/nlp"}
serving = {path = "../../../libs/serving"}

[tool.poetry.group.dev.dependencies]
pytest = "7.2.0"
pydantic = "1.10.4"
uvicorn = "0.23.2"
pytest-unordered = "^0.5.2"

[tool.poetry.group.debug.dependencies]
debugpy = "1.8.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
