# Send notifications to the ml team whenever a change occurs to the following files

## MLOPs Own all the things

* @airpr/mlops-engineers @RonsenbergVI

## MLE owns the project implementation

/projects @airpr/ml-engineers

## TODO: associate each project owner with the folder

### keywords

/projects/keywords @airpr/ml-engineers @airpr/mlops-engineers

### summarization

/projects/summarization @airpr/ml-engineers

### entity linking

/projects/entity-linking @airpr/ml-engineers
