# Send notifications to the ml team whenever a change occurs to the following files

## MLOPs Own all the things

* @airpr/mlops-engineers

# libraries

/libs @airpr/mlops-engineers @ndenStanford
/libs/training @airpr/mlops-engineers @weshallsin
/libs/data @airpr/mlops-engineers @weshallsin @ndenStanford

## MLE owns the project implementation

/projects @airpr/ml-engineers @airpr/mlops-engineers
