[tool.poetry]
name = "topic-detection-serve"
version = "0.1.0"
description = "Implementation topic-detection API"
authors = ["Yuzhou Gao <yuzhou.gao@onclusive.com>"]
packages = [{include = "src"}]

[tool.poetry.dependencies]
python = "3.8.16"
regex = "2022.10.31"

core = {path = "../../../libs/core"}
serving = {path = "../../../libs/serving"}
nlp = {path = "../../../libs/nlp"}
tracking = {path = "../../../libs/tracking"}
types-requests = "^2.31.0.2"
requests = "^2.31.0"
httpx = "^0.25.0"
packaging = "21.3"
pandas = "1.3.5"
prophet = "1.1.2"
pymannkendall = "1.4.3"

[tool.poetry.group.dev.dependencies]
pytest = "7.2.0"
pytest-order = "1.1.0"
pytest-mock = "3.10.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
combine_as_imports = false
