.prompt-modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background-color: #000000;
  --bg-opacity: 0.5;
  justify-content: center;
  align-items: center;
}

.prompt-modal-inner {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  @media (min-width: 640px) {
    display: block;
    padding: 0;
  }
}
