version: "3.9"

services:
  # =====================================================
  # FRONTEND
  # =====================================================
  frontend:
    build:
      context: ../../
      dockerfile: apps/prompt/frontend/Dockerfile
      target: ${TARGET_BUILD_STAGE:-development}
      network: host
      args:
        AWS_ACCOUNT_ID: ${AWS_ACCOUNT_ID:-063759612765}
        APP_NAME: prompt
        APP_COMPONENT: frontend
        BASE_IMAGE_TAG: ${BASE_IMAGE_TAG:-v2023.3.2}
    image: ${AWS_ACCOUNT_ID:-063759612765}.dkr.ecr.us-east-1.amazonaws.com/prompt-frontend:${IMAGE_TAG}
    command: ["npm", "start"]
    profiles: ["frontend"]
    volumes:
      - type: bind
        source: frontend/public
        target: /apps/prompt/frontend/public
      - type: bind
        source: frontend/src
        target: /apps/prompt/frontend/src
    ports:
      - 3000:3000
    environment:
      ENVIRONMENT: dev
      REACT_APP_API_KEY: 1234
      REACT_APP_API_URI: http://localhost:4000/api/v1

  frontend-unit:
    build:
      context: ../../
      dockerfile: apps/prompt/frontend/Dockerfile
      target: ${TARGET_BUILD_STAGE:-development}
      network: host
      args:
        AWS_ACCOUNT_ID: ${AWS_ACCOUNT_ID:-063759612765}
        APP_NAME: prompt
        APP_COMPONENT: frontend
        BASE_IMAGE_TAG: ${BASE_IMAGE_TAG:-v2023.3.2}
    image: ${AWS_ACCOUNT_ID:-063759612765}.dkr.ecr.us-east-1.amazonaws.com/prompt-frontend:${IMAGE_TAG}
    command: ["/bin/sh", "-c", "sleep 3s"]
    profiles: ["frontend", "unit"]
    volumes:
      - type: bind
        source: frontend/public
        target: /apps/prompt/frontend/public
      - type: bind
        source: frontend/src
        target: /apps/prompt/frontend/src
    environment:
      ENVIRONMENT: dev
      REACT_APP_API_KEY: 1234
      REACT_APP_API_URI: http://localhost:4000/api/v1

  # =====================================================
  # BACKEND
  # =====================================================
  backend:
    build:
      context: ../../
      dockerfile: apps/prompt/backend/Dockerfile
      target: ${TARGET_BUILD_STAGE:-development}
      network: host
      args:
        AWS_ACCOUNT_ID: ${AWS_ACCOUNT_ID:-063759612765}
        APP_NAME: prompt
        APP_COMPONENT: backend
        BASE_IMAGE_TAG: ${BASE_IMAGE_TAG:-v2023.3.2}
    image: ${AWS_ACCOUNT_ID:-063759612765}.dkr.ecr.us-east-1.amazonaws.com/prompt-backend:${IMAGE_TAG}
    command:
      [
        "uvicorn",
        "src.app:app",
        "--host",
        "0.0.0.0",
        "--port",
        "4000",
        "--reload",
        "--log-level",
        "debug",
      ]
    profiles: ["backend"]
    volumes:
      - type: bind
        source: backend/src
        target: /apps/prompt/backend/src
      - type: bind
        source: backend/tests
        target: /apps/prompt/backend/tests
    ports:
      - 4000:4000
    environment:
      ENVIRONMENT: dev
      OPENAI_API_KEY: ${OPENAI_API_KEY:-none}
      DOCS_URL: /docs
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-anything}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-anything}
      API_KEY: 1234
      DB_HOST: "http://dynamodb:8000"
      BETTERSTACK_KEY: ${BETTERSTACK_KEY:-none}
    depends_on:
      - dynamodb
    networks:
      - onclusive-net

  backend-unit:
    build:
      context: ../../
      dockerfile: apps/prompt/backend/Dockerfile
      target: ${TARGET_BUILD_STAGE:-development}
      network: host
      args:
        AWS_ACCOUNT_ID: ${AWS_ACCOUNT_ID:-063759612765}
        APP_NAME: prompt
        APP_COMPONENT: backend
        BASE_IMAGE_TAG: ${BASE_IMAGE_TAG:-v2023.3.2}
    image: ${AWS_ACCOUNT_ID:-063759612765}.dkr.ecr.us-east-1.amazonaws.com/prompt-backend:${IMAGE_TAG}
    command: ["pytest", "tests/unit", "-ra", "-vv", "--capture=no"]
    profiles: ["unit"]
    volumes:
      - type: bind
        source: backend/src
        target: /apps/prompt/backend/src
      - type: bind
        source: backend/tests
        target: /apps/prompt/backend/tests
    environment:
      ENVIRONMENT: dev
      OPENAI_API_KEY: ${OPENAI_API_KEY:-none}
      DOCS_URL: /docs
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-anything}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-anything}
      API_KEY: 1234
      DB_HOST: "http://dynamodb:8000"
    networks:
      - onclusive-net

  backend-integration:
    build:
      context: ../../
      dockerfile: apps/prompt/backend/Dockerfile
      target: ${TARGET_BUILD_STAGE:-development}
      network: host
      args:
        AWS_ACCOUNT_ID: ${AWS_ACCOUNT_ID:-063759612765}
        APP_NAME: prompt
        APP_COMPONENT: backend
        BASE_IMAGE_TAG: ${BASE_IMAGE_TAG:-v2023.3.2}
    image: ${AWS_ACCOUNT_ID:-063759612765}.dkr.ecr.us-east-1.amazonaws.com/prompt-backend:${IMAGE_TAG}
    command: ["pytest", "tests/integration", "-ra", "-vv", "--capture=no"]
    profiles: ["integration"]
    volumes:
      - type: bind
        source: backend/src
        target: /apps/prompt/backend/src
      - type: bind
        source: backend/tests
        target: /apps/prompt/backend/tests
    environment:
      ENVIRONMENT: dev
      OPENAI_API_KEY: ${OPENAI_API_KEY:-none}
      DOCS_URL: /docs
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-anything}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-anything}
      API_KEY: 1234
      DB_HOST: http://dynamodb:8000
    depends_on:
      dynamodb:
        condition: service_healthy
    networks:
      - onclusive-net

  dynamodb:
    command: "-jar DynamoDBLocal.jar -sharedDb"
    image: "amazon/dynamodb-local:latest"
    restart: always
    expose:
      - 8000
    ports:
      - 8000:8000
    profiles: ["backend", "integration"]
    healthcheck:
      # NOTE: This hack is required so that the integration tests only start when the
      # databse is ready to receive requests.
      test: ["CMD-SHELL", "sleep 3s || exit 1"]
      interval: 5s
      retries: 5
      start_period: 5s
      timeout: 10s
    networks:
      - onclusive-net

networks:
  onclusive-net:
