[tool.poetry]
name = "topic-train"
version = "0.1.0"
description = "Docker image for training a topic model."
authors = ["Vishal Singh <vihal.singh@onclusive.com>"]
packages = [{include = "src"}]

[tool.poetry.dependencies]
python = "3.8.16"
core = {path = "../../../libs/core"}
tracking = {path = "../../../libs/tracking"}
data = {path = "../../../libs/data"}
nlp = {path = "../../../libs/nlp"}
train = {path = "../../../libs/training"}

[tool.poetry.group.dev.dependencies]
pytest = "7.2.0"

[tool.poetry.group.debug.dependencies]
debugpy = "1.8.1"

[[tool.poetry.source]]
name = "pipy-nvidia"
url = "https://pypi.nvidia.com"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
