.sidebar {
  top: 0;
  width: var(--sidebar-width);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--second);
  display: flex;
  flex-direction: column;
  box-shadow: inset -2px 0px 2px 0px rgb(0, 0, 0, 0.05);
  position: relative;
  transition: width ease 0.1s;
}

.sidebar-drag {
  $width: 10px;

  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: $width;
  background-color: var(--black);
  cursor: ew-resize;
  opacity: 0;
  transition: all ease 0.3s;

  &:hover,
  &:active {
    opacity: 0.2;
  }
}

.sidebar-header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-logo {
  position: absolute;
  right: 0;
  bottom: 18px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
}

.sidebar-sub-title {
  font-size: 12px;
  font-weight: 400px;
}

.sidebar-body {
  flex: 1;
  overflow: auto;
}

.sidebar-tail {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.sidebar-actions {
  display: inline-flex;
}

.sidebar-action:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: absolute;
    left: -100%;
    z-index: 1000;
    height: var(--full-height);
    transition: all ease 0.3s;
    box-shadow: none;
  }

  .sidebar-show {
    left: 0;
  }
}

.context-prompt {
  .context-prompt-row {
    display: flex;
    justify-content: center;
    width: 100% !important;
    margin-bottom: 10px;

    .context-prompt-header {
      display: block;
      width: 100% !important;
      margin-bottom: 10px;

      span {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      div {
        background-color: var(--gray);
        border-radius: 6px;
        padding: 10px;
        font-size: 12px;
        user-select: text;
      }
    }

    .context-role {
      border: var(--border-in-light);
      border-radius: 10px;
      padding: 10px;
      margin-right: 10px;
      font-family: inherit;
      background-color: var(--white);
      color: var(--black);
      resize: none;
      font-size: 12px;
      min-width: 50px;
      text-align: center;
    }

    .context-content {
      flex: 1;
      max-width: 100%;
      text-align: left;
    }

    .context-delete-button {
      margin-left: 10px;
    }
  }

  .context-prompt-button {
    flex: 1;
  }

  .context-input {
    border: var(--border-in-light);
    border-radius: 10px;
    padding: 10px;
    font-family: inherit;
    background-color: var(--white);
    color: var(--black);
    resize: none;
    min-width: 50px;
    width: 100% !important;
  }
}
